.checkbox {
    --checked-icon-color: var(--color-accent-on-loud);
    --checked-icon-scale: 0.8;

    appearance: none;
    vertical-align: middle;
    font-size: var(--form-control-font-size, var(--text-base));
    width: 1.1em;
    height: 1.1em;
    border: var(--form-control-border-width) var(--form-control-border-style)
        var(--form-control-border-color);
    border-radius: min(0.4em, var(--radius-md));
    box-shadow: var(--shadow-xs);
    flex-shrink: 0;
    padding: 0;
    background: none;
    background-color: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline-style: none;
}

.checkbox:checked::after,
.checkbox:indeterminate::after {
    content: "";
    width: 1.1em;
    height: 1.1em;
    scale: var(--checked-icon-scale);
    background-color: currentcolor;
}

.checkbox:checked,
.checkbox:indeterminate {
    color: var(--checked-icon-color);
    background-color: var(--form-control-activated-color);
    border-color: var(--form-control-activated-color);
}

.checkbox:checked::after {
    mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16"><path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/></svg>')
        center / 2em 2em no-repeat;
}

.checkbox:indeterminate::after {
    mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path d="M431 256c0 17.7-14.3 32-32 32H49c-17.7 0-32-14.3-32-32s14.3-32 32-32h350c17.7 0 32 14.3 32 32z"/></svg>')
        center no-repeat;
}

.checkbox:not(:disabled) {
    cursor: pointer;
}

.checkbox:focus-visible {
    box-shadow: 0 0 0 3px color-mix(in oklab, var(--color-neutral-400) 25%, transparent);
    outline: none;
    border-color: var(--color-neutral-400);
}

.checkbox:checked:focus-visible,
.checkbox:indeterminate:focus-visible {
    box-shadow: 0 0 0 3px color-mix(in oklab, var(--color-accent-fill-loud) 25%, transparent);
    outline: none;
    border-color: var(--color-accent-fill-loud);
}
