<div class="card">
    <div class="card-content">
	    <a href="{{ example.url }}{{ example.content |> linkFragment }}">{{ example.content |> markdown |> safe }}</a>
    </div>
    <div class="card-footer">
    	<span class="badge" data-size="lg">{{ example.index }}: {{ example.title }}</span>
    	<span class="badge" data-size="lg">{{ __ example.sector, {}, {lang, translations} }}</span>
    </div>
</div>
