<div class="item-card">
    <h2>{{ item.data.title }}</h2>
    <div class="item-card-column">
        <div>
            <h3>{{ "Risk:" if item.data.risk else "Benefit:" }}</h3>
            {{ item.data.risk if item.data.risk else item.data.benefit }}
        </div>
        <div>
            <h3>{{ "Mitigation:" if item.data.mitigation else "Cautions:" }}</h3>
            {{ item.data.mitigation if item.data.mitigation else item.data.caution }}
        </div>
    </div>
    <div>
        <h3>{% __ 'references' %}:</h3>
    </div>
</div>