<script type="module" src="/assets/scripts/main.js"></script>
<script type="module" src="/assets/scripts/app.js"></script>
{{ if translationKey == "examples" }}
<script type="module" src="/assets/scripts/filter.js"></script>
{{ /if }}
<!--<script type="module">
    await import('/pagefind/pagefind-highlight.js');
    new PagefindHighlight({ highlightParam: "highlight" });
</script>-->
