{{# uioScripts #}}
<script type="module" src="/assets/scripts/main.js"></script>
<script type="module" src="/assets/scripts/app.js"></script>
{{ if translationKey == "risks" || translationKey == "benefits" }}
<!--<script type="text/javascript" src="/assets/scripts/filter.js" defer></script>-->
{{ /if }}
<!--<script type="module">
    await import('/pagefind/pagefind-highlight.js');
    new PagefindHighlight({ highlightParam: "highlight" });
</script>-->
