	<!DOCTYPE html>
	<html lang="{{ lang || defaultLanguage }}-CA" dir="ltr">
	<head>
		{{ include 'partials/global/meta.vto' }}
		<title>{{ title }}</title>
		{{ include 'partials/global/scripts.vto' }}
		{{ include 'partials/global/stylesheets.vto' }}
		{{ getBundle "fontawesome" }}
	</head>
	<body class="{{ pageType || 'page' }} flow">
	{{ include 'partials/global/header.vto' }}
	<main id="main" class="region flow" tabindex="-1">
	<div class="banner flow wrapper">
		{{ if pageType !== 'home' }}
		{{ include 'partials/components/breadcrumbs.vto' }}
		{{ /if }}
		<h1>{{ title }}</h1>
		{{ if bannerText }}
		{{ bannerText |> markdown |> safe }}
		{{ /if }}
		{{ if pageType === 'home' || pageType === 'examples' }}
		{{ include 'partials/components/calls-to-action.vto' }}
		{{ /if }}
	</div>
	<div class="content wrapper">
	{{ content |> safe }}
	</div>
	</main>
	{{ include 'partials/global/footer.vto' }}
	</body>
	</html>
