{{ layout "layouts/base.vto" { pageType: 'benefits' } }}

{{ include 'partials/components/sidebar-nav.vto' }}

<article class="article flow region">
    {{ for item of collections['benefits_' + lang] }}
      {{ include "partials/components/benefit-card.vto" { item} }}
    {{ /for }}
</article>

{{ /layout }}
