{{ layout "layouts/base.vto" { pageType: 'opportunities' } }}

{{ include 'partials/components/sidebar-nav.vto' }}

<article class="article flow region">
    {{ for item of collections['opportunities_' + lang] }}
      {{ include "partials/components/opportunity-card.vto" { item} }}
    {{ /for }}
</article>

{{ /layout }}
