{{ layout "layouts/base.vto" { pageType: 'risks' } }}

{{ include 'partials/components/sidebar-nav.vto' }}

<article class="article flow region">
    {{ for item of collections['risks_' + lang] }}
      {{ include "partials/components/risk-card.vto" { item } }}
    {{ /for }}
</article>

{{ /layout }}
